/* 
#B08401
#D49E8D
#DED1BD
#FAF6F2
#683B2B 
*/

/* 
#0B0C10
#1F2833
#C5C6C7
#66FCF1
#45A29E
 */
/* 
#EAE7DC
#D8C3A5
#cea282
#ac866b
#9a7962
 */



.colors {
  color: #eae7dc;
  color: #d8c3a5;
  color: #cea282;
  color: #ac866b;
  color: #9a7962;

  color: #cea282
}

.App {
  height: 100vh;
  background-color: #eae7dc;
  font-family: Proxima Nova, sans-serif;
}
.hidden {
  display: none;
}

.p-0 {
  padding: 0 !important;
  margin: 0 !important;
}

.was-validated .form-control:valid,
.form-control.is-valid {
  background-image: none !important;
}

.title-heading {
  font-family: "VALORANT";
  color: #1f2833;
}

.chatbar {
  width: 100%;
}

.btn-info {
  background-color: #e7b48f !important;
  border: none !important;
}

.parent {
  min-height: 500px;
  min-width: 800px;
}

.ProfileImg {
  max-height: 48px;
  min-width: 48px;
  border-radius: 25px;
  background-color: white;
  // border: 1px solid white;
}

.ProfileImg-small {
  max-height: 36px;
  min-width: 36px;
  border-radius: 25px;
  background-color: white;
  // border: 1px solid white;
}

.ProfileImg-msg {
  max-height: 64px;
  min-width: 24px;
  border-radius: 25px;
  background-color: white;
  // border: 1px solid white;
}

.MessagesWrapper {
  .TimeStamp-text {
    color: gray;
  }
  &.Owner {
    flex-direction: row-reverse !important;
    .MessageContent {
      .MessageSender {
        // border: 1px solid black;
        border-radius: 10px 0px 10px 10px;
        background-color: #eef4fa;
        font-size: 18px;
        
  
  
      }
    }
  }
  .MessageContent {
    .MessageSender {
      // border: 1px solid black;
      border-radius: 0px 10px 10px 10px;
      background-color: #dfb191;
      font-size: 18px;


    }
  }
}
.ChatListUsersWrapper {
  background-color: #dfb191;
}
.SidebarWrapper {
  // min-width: 360px;
  .Searchlist {
    border-bottom: 2px solid #9a7962;
  }
  .SidebarContent {
    background-color: #dfb191;
    border-radius: 0 0 0 10px;

    .searchIcon:hover {
      background-color: #ac866b;
      border-radius: 0 !important;
    }
  }

  .form-control {
    border: 0 !important;
    border-radius: 0;
    background-color: #eae7dc;
    &::placeholder {
      color: #ac866b;
    }

    &:focus {
      border-color: #ced4da !important;
      box-shadow: none !important;
      outline: 0 !important;
    }
  }
}
.NavbarWrapper {
  background-color: #ac866b;
  border-top-left-radius: 10px;
  .LogoutButton {
    background-color: #ac866b;
    border: 0;
  }

  .displayName {
    font-weight: bold;
  }
}

@media screen and (max-width: 576px) {
  .ChatlistWrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // min-height: 60px;
    // min-height: clamp(50%, 500px, 90%);
  }

  .Chatlist-items {
    flex-direction: row !important;
    width: 50%;
  }

  .Searchlist {
    flex-direction: row !important;
    width: 50%;
    
  }
}

.ChatlistWrapper {
  overflow: scroll;
  min-height: clamp(10%, 600px, 100%);
  max-height: 536px;
  &::-webkit-scrollbar {
    display: none;
  }

  .Chatlist-items {
    cursor: pointer;

    &:hover {
      background-color: #ac866b;
    }
  }
}

.ChatbarInput {
  .form-control {
    border: 0 !important;
    border-bottom: 1px solid E85A4F !important;
    color: #9a7962;
    border-radius: 0;
    max-width: 90%;
    background-color: #eae7dc;
    &::placeholder {
      color: #ac866b;
    }

    &:focus {
      border-color: #ced4da !important;
      box-shadow: none !important;
      outline: 0 !important;
    }
  }
}

.ChatbarWrapper {
  background-color: #e6bb9d;
  .ChatbarNavbar {
    min-height: 48px;
    background-color: #9a7962;
    border-radius: 0 10px 0 0;

    .ChatbarNavbar-icons {
      color: #1f2833;
      cursor: pointer;
    }
  }

  .ChatbarContent {
    min-height: 600px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.HomeWrapper {
  min-height: 100vh;
  box-shadow: black;
  // min-width: 100%;
}
.LoginWrapper {
  // background-color: #cea282;

  .error {
    color: red;
  }

  .form-control {
    border: 0 !important;
    border-bottom: 1px solid black !important;
    color: black;
    background-color: #eae7dc;
    &::placeholder {
      color: #ac866b;
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  .invalid-feedback {
    color: red;
  }
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import url("https://fonts.cdnfonts.com/css/valorant");
@import url("https://fonts.cdnfonts.com/css/anton");
@import url("https://fonts.cdnfonts.com/css/g-guarantee");
@import url("https://fonts.cdnfonts.com/css/proxima-nova-2");
